body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #07080c;
    font-family: Roboto;
    
   
}
.items-box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.image{
    width: 100%;
    margin-top: 50px;
}
.Car-speed-heading{
    color: white;
}
.Car-speed-Paragraph{
    color: white;
    margin: 30px;
}

button{
    margin: 10px;

    display: inline-block;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    line-height: 20px;
    font-weight: 600;
    border-radius: 8px;
    padding: 14px 24px;
    border: none;
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
    background: linear-gradient(to right, rgb(30, 90, 230) 0%, rgb(28, 54, 227) 50%, rgb(215, 4, 102) 100%);
    color: #fff;

}