*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto;
}
.EvenOdd-Container{
    background-color: white; 
    padding: 60px;
    margin-top: 10px;
    
}
.EvenOdd-items{
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 82vh;
    background-color:  #2b2c49;
  
    background-image: linear-gradient(#ff6e7f, #bfe9ff); 
}

button{
    margin: 10px;
    padding: 10px 25px;
    font-size: 13px;
    border: none;
    border-radius: 5px;
    
}
button:hover{
    border: 1px solid black;
}

.EvenOdd-Paragraph-Result-Count{
    font-size: 30px;
    margin: 30px;
}

span{
    color: green;
    font-size: 25px;
}