body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.paragraph-1{
    display: flex;
    align-items: center;
    background-color: #0b69ff;
 
}
.paragraph-1 img{
   width: 25px;
   margin: 10px;
}
.paragraph-1 p{
   color: white;

 }
.paragraph-2{
    display: flex;
    align-items: center;
    background-color: #2dca73;
margin-top: 10px;
    
}
.paragraph-2 img{
    width: 25px;
    margin: 10px;
 }
 .paragraph-2 p{
    color: white;
   
  }
.paragraph-3{
    display: flex;
    align-items: center;
    background-color: #ffb800;
    margin-top: 10px;
    
}
.paragraph-3 img{
    width: 25px;
    margin: 10px;
 }
 .paragraph-3 p{
    color: white;
 
  }
.paragraph-4{
    display: flex;
    align-items: center;
    background-color: #ff0b37;
    margin-top: 10px;
}
.paragraph-4 img{
    width: 25px;
    margin: 10px;
 }
 .paragraph-4 p{
    color: white;
  }

.Container-Notfication{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 550px;
  
}
.Notification-items{
    width: 500px;
}
.Heading{
    font-size: 55px;
    font-family: Roboto;
}

@media (min-width: 310px) and (max-width: 510px) {
    .Notification-items{
        display: flex;
        flex-wrap: wrap;
        width: 250px;
        flex-direction: column;
    } 
    .Heading{
        font-size: 35px;
        font-family: Roboto;
    }
}

