*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Roboto;
}
.CashWithDrawal-Array-Object{
display: grid;
grid-template-columns: auto auto;
grid-column-gap: 15px;
grid-row-gap: 15px;
margin: 20px;
}
.CashWithDrawal{
padding: 30px;
}
.CashWithDrawal-items{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 60vh;
    width: 50%;
    margin-top: 10%;
    margin-left: 20%;
    background-color: #150b3e;
    border-radius: 15px;
}
.CashWithDrawal-logo-name{
    display: flex;
justify-content: center;
align-items: center;
}
.Circle{
    border: 2px solid black;
    width: 70px;
    height: 70px;
    color:  #7c3aed;
    display: flex;
    background-color: #c7d2fe;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.CashWithDrawal-Balance-Count{
    display: flex;
    justify-content: center;
    margin: 20px;

}
.Count-Inruppess{
    margin-left: 25px;
}
button{
    padding:10px 55px;
    border-radius: 10px;
    border: none;
    background-color: #585076;
    color: #d4d2db;
    font-size: 20px;
    font-weight: 600;
}
.Name{
    margin-left: 5px; 
    font-size: 25px;
    font-weight: 600;
    color: #d4d2db; 
}
.CashWithDrawal-Count{
    margin-left: 14px;
}
.CashWithDrawal-inRupees{
    margin-top: 10px;
}
.CashWithDrawal-Withdraw{
    margin: 10px;
}
.CashWithDrawal-Balance{
    color: #585076;
    font-weight: 600;
    margin-top: 3px;
    font-size: 20px;
}
.CashWithDrawal-Count{
    color: #d4d2db;
    font-weight: 600;
    font-size: 25px;
}
.CashWithDrawal-chooseSum{
    color: #585076;
    font-weight: 600;
    font-size: 15px;
}
.CashWithDrawal-Withdraw{
    color: #d4d2db;
    font-weight: 600;
    font-size: 25px;
}
.CashWithDrawal-inRupees{
    color: #585076;
}