*{
padding: 0;
margin: 0;
box-sizing: border-box;
}

body{
    height: 200px;
    
    background-image: linear-gradient(to right, #219a6f , #93f9b9);
}
.LetterCalculator-Conatiner{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    
}
.LetterCalculator-items{
    display: flex;
    align-items: center;
}

.image{
    width: 450px;
}

span{
    font-size: 25px;
    color:#219a6f;
    margin-top: 10px;
}
.LetterCalculator-heaading{
    color: white;
    font-size: 45px;
}

.LetterCalculator-Paragraph-inputBox{
    margin-top: 10px;
    color: white;
}
.LetterCalculator-textArea{
    margin-top: 10px;

    outline: none;
}



.LetterCalculator-NoofLetter-Box{
    background-color: white;
    color: #219a6f;
    padding: 15px 30px;
    margin-top: 20px;
    font-size: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}