body{
    background-image: url("https://assets.ccbp.in/frontend/react-js/congrats-card-bg.png");
    background-color: #cccccc;
    font-family: Roboto;
}

.Congrates-Conatiner{
  margin-top: 45px;
  display: flex;
   
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.Heading{
    justify-content: center;
    align-items: center;
    flex-direction: column;  
    display: flex;
    font-size: 55px;
}

.Congrates-items{
    background-color: #cffafe;
    max-width: 100%;
}
.Congrates-ManPhoto{
    margin-left: 33%;
    margin-top: 10px;
}
.Congrats-titleName{
    margin-left: 37%;
}
.Congrats-Biotitle{
   padding: 10px;
   margin-left: 7%;
}
.Congrats-Biotitle span{
    margin-left: 37%; 
  
}
.Congrates-WatchPhoto{
    margin-left: 39%;
    margin-top: 10px;
}
@media (min-width: 310px) and (max-width: 460px) {
    .Heading{
        font-size: 35px;
    }
    .Congrates-items{
       
        width: 290px;
    }
    .Congrates-ManPhoto {
        margin-left: 20%;
        margin-top: 10px;
    }
    .Congrats-titleName {
        margin-left: 27%;
    }
    .Congrates-WatchPhoto {
        margin-left: 27%;
        margin-top: 10px;
    }
}